* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    /* height: 74px; */
    margin-top: 25px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}
.nav-left span{
    font-size: 31px;
    padding: 10px
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 23px;
    font-size: 21px;
    padding-bottom:23px ;
}

.nav-left ul li {
    list-style: none;
    margin: 0px 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    /* transition: all 0.3s ease-in-out; */
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    display: flex;
    height: 100%;
    /* background-color: rgb(187, 187, 245); */
    padding: 9px;
    position: relative;
    margin-top: 32px;
}
.content::after{
    content:"";
    background-image:url('../img/home5.jpg');
    position:absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 15px;
}

.content-left {
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    height: 329px;
    width: 329px;
    border: 2px solid brown;
    border-radius: 171px;
}

.home-articles {
    /* height: 455px; */
    background-color: rgb(237, 215, 215,0.5);
    margin-top: 19px;
    margin-bottom: 13px;
    padding: 19px;
    border-radius: 15px;
    position: relative;
}
.year-box{
    position: absolute;
    /* background-color: red; */
    right: 78px;
    top: 5px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 7px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}